name: Lint Server Code

on:
  push:
    branches:
      - main
    paths:
      - "server/**"
  pull_request:
    paths:
      - "server/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Lint with Gradle Wrapper
        run: ./gradlew lintKotlin
